 <button class="btn btn-primary" [class.active]="isActive  ? 'blue':'gray' "  (click)="onClick($event)">Submit</button>
 <products></products>


   <input type="text" [(ngModel)]="title" /><br> 
   You have typed: {{title}}<br> 
  <rating></rating>



  <bs-jumbotron>
      <div class="heading">Hello World!</div>
      <div class="body">
        This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      </div>
      <div class="button">Learn more</div>  
  </bs-jumbotron> 

  <user-form></user-form>